.vscode

# Cpp ignores
cpp/build/
doc/cpp

*/CMakeUserPresets.json

# Everything that is generated, like gRPC or doc images
generated/

# Python artifacts
__pycache__/
.venv/

# macOS
.DS_Store

#wandb
wandb/

# Emacs stuff
.projectile
